@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(8, 8, 8);
}

:root {
  font-family: Outfit;
  line-height: 1.5;
  font-weight: 400;

}
